:host ::ng-deep .online-payment>div>div {
    width: 70vh;
    height: 85vh;
}

:host ::ng-deep .p-dialog-content {
    overflow-x: auto !important
}

:host ::ng-deep {
    .qr-container img {
        display: block;
        max-width: 85%;
        max-height: 85%;
        min-width: 80%;
        min-height: 80%;
        object-fit: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width:700px) and (min-width:250px) {
    :host ::ng-deep .online-payment>div>div {
        width: 100vw;
        height: 100vh;
    }

    h3 {
        font-size: 1.2rem;
    }
}